<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s4days.core_navigation" >

    <application>
        <activity android:name=".data.ui.MainActivity" android:exported="false" android:windowSoftInputMode="adjustResize">

            <nav-graph android:value="@navigation/global_nav" />
        </activity>
    </application>

</manifest>